node_modules
.env
*.DS_Store
client/dist/bundle.js
config.js
client/dist/bundle.js.map
client/dist/output.css
client/src/app.jsx
coverage

db/product.csv
db/features.csv
db/related.csv
db/styles.csv
db/photos.csv
db/skus.csv
db/analysisandmisc.pgsql